include README.md
include LICENSE
include CHANGELOG.txt

recursive-include pyccapt *.toml *.json *.txt *.md
recursive-include pyccapt *.ui
recursive-include pyccapt *.h5 *.mat *.pos *.epos *.rrng *.rng *.csv *.m *.mlx
recursive-include pyccapt/control *.dll *.lib *.exp *.ocx *.chm *.cfg *.ini *.bit *.exe *.lmf

recursive-exclude pyccapt/calibration/tutorials *.ipynb *.png *.jpg *.gif *.html *.xlsx
recursive-exclude pyccapt/calibration/leap_tools/tutorials *.ipynb *.png *.jpg *.gif *.html *.xlsx
recursive-exclude pyccapt/data *
recursive-exclude pyccapt/files/logs *
recursive-exclude pyccapt/files/readme_images *

global-exclude __pycache__ *.py[cod] *.ipynb
